<% bookInfo.forEach(book => { %>
  <a href="/<%= book.group === 'favourites' ? 'favourites' : 'to-be-read' %>/<%= book.name %>" class="book_card_link">
    <div class="book_card">
      <div class="card_content">
        <div class="name center"><%= book.name %></div>
        <div class="author  center"><%= book.author %></div>
        <div class="genre  center"><%= book.genre %></div>
        <div class="description "><%= book.description.substring(0, 200) %>...</div>
      </div>
    </div>
  </a>
<% }) %>