<%- include("../partials/head.ejs")%>
<%- include("../partials/menu.ejs")%>

<div class="container">
  <!-- if it is pageType home -->
  <% if (pageType === 'home') { %>
<!-- show home.ejs -->
    <%- include("../partials/home.ejs") %>
<!-- om de 채r favoirter eller to-be-read -->
  <% } else if (pageType === 'favourites' || pageType === 'to-be-read') { %>
<!-- visa korten om ovanst책ende 채r sant -->
    <%- include("../partials/book-card.ejs") %> 
    <!-- om de 채r book info ..-->
  <% } else if (pageType === 'book-detail') { %>
    <!-- visa book-detail.ejs (pages) -->
    <%- include("../partials/book-detail.ejs") %>
  <% } %>
</div>
    <%- include('../partials/footer')%>